/* Add soft animations */
body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #f9f9f9;
    background-image: url('../images/backgrounds/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeIn 1s ease-in-out; /* Fade in effect */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

header, footer {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: "Bodoni Moda SC", serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.5s ease-in-out; /* Slide down effect */
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

nav .menu a {
    margin: 0 20px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    font-weight: 500;
    position: relative;
}

nav .menu a:hover {
    transform: scale(1.1); /* Slightly enlarges the link on hover */
}

.contact-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

.contact-bubble:hover {
    transform: rotate(360deg); /* Adds a rotation on hover */
}

.contact-modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    animation: zoomIn 0.5s ease-in-out; /* Zoom in effect */
}

@keyframes zoomIn {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.container, .container2, .image-container, .additional-text-container, .container3, .login-warning {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.container:hover, .container2:hover, .image-container:hover, .additional-text-container:hover, .container3:hover, .login-warning:hover {
    transform: translateY(-10px); /* Lift up effect on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a deeper shadow */
}
